<h1>Авторизація</h1>
<form method="post" action="/Account/Login">
    <div class="form-group">
        <label>Ім'я користувача</label>
        <input name="Username" class="form-control" />
    </div>

    <div class="form-group">
        <label>Пароль</label>
        <input name="Password" type="password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Увійти</button>
</form>
