<h1>Lab 2</h1>
<form method="post" action="/Lab1/Run">
    <label for="input">Введіть дані:</label>
    <input type="text" name="input" id="input" required />
    <button type="submit">Запустити</button>
</form>
<p>Результат: @ViewData["Result"]</p>
